1st phase:

A one page document containing: 
a brief description of the approached topic and its importance (relevance) (3-4 paragraphs); 
the title of the theoretical report; 
bibliographical references (at least 5); 
the presentation slot (Weeks 8-14 lecture hours or Weeks 9-12 lab hours). 